<div class="containerProfile">

    <h1>Datos de Usuario</h1>

    <p><strong>Nombre:</strong> {{user.first_name}} {{user.last_name}}</p>
    <p><strong>Edad:</strong> {{user.age}}</p>
    <p><strong>Email Registrado:</strong> {{user.email}}</p>
    <p><strong>Rol asignado:</strong> {{user.role}}</p>

</div>
